body {
    padding:0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(32, 33, 36)
}

.calculator {
    display: flex;
    gap: 10px;
    
    padding: 20px;
    flex-direction: column;
    width: 50%;
}

.display {
    text-align: center;
    display: flex;
    flex-direction: column;
    outline: none;
    border: none;
}



.display #screen {
    margin-bottom: .5em;
    width: auto;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5em;
    background: #ecf0f3;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #cbced1,
        inset -8px -8px 8px #ffffff;
}


.row {
    display: flex;
    justify-content: center;
}

button {
    height: 40px;
    width: 50px;
    margin: 3px;
    flex: 1 1 0px;
    background-color: #5F6368;
    border:none;
    border-radius: 6px;
    color: white;
}

.num {
    background-color: rgb(60, 64, 67);
}

.num:hover {
    background-color: rgb(65, 70, 73);
}

#result {
    background-color: rgb(174, 203, 250);
    color:black;
    font-size: 20px;
    font-weight: 800;
}

#result:hover {
    background-color: rgb(196, 216, 248);
}

button:hover {
    background-color: #787d83;
    cursor:pointer;
}

.enabled {
    background-color:#313233 ;
}


@media (max-width:720px) {

    body {
        width: 100%;
        overflow-x: hidden;
    }
    .calculator {
        width: 85%;
    }
}


.cal-head {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
}